body{ background-color: black;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav>ul{
    display: flex;
    list-style-type: none;
}
.nav>ul>li{
    display: inline-block;
    padding: 25px 25px 25px 25px;
    margin: 40px;
    border: 1px green;
    position: relative;
}
h1{
    color: white;
    font-family: sans-serif;
    text-shadow: gainsboro
}
.nav>ul>li>a{
    text-decoration: none;
    color: aliceblue ;
    text-transform: uppercase;
}

  .nav>ul>li::after {
    content: '';
    height: 4px;
    width: 0%;
    background: #34a79b;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition:0.3s;
  }  
  .nav>ul>li:hover::after{
    width: 100%;
  }
.cont{
    width: 100%;
    position:absolute ;
    top: 50%;
    text-align: center;
    color: aliceblue;
}
.cont>p {
    line-height: 35px;
    margin: 20px;
    width: 100%;
font-size: larger;
font-style: oblique;
}
button{
    width: 100px;
    text-align: center;
    color: rgb(247, 249, 250);
    background: transparent;
    font-weight: bold;
    border: 2px solid springgreen;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    margin: 10px 20px;
    position: relative;
    overflow: hidden;
}
span{
    background-color: black;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    left: 0%;
    bottom: 0%;
    z-index: -1;
    transition: 0.5s;


}

button:hover span{
    width: 100% ;
}
button:hover {
    border: none;
}





